"*":
  "atom-typescript": {}
  "autocomplete-plus": {}
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "go-plus"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "6eec5a77-152e-0b87-10c3-83f36bd6e557"
  "go-plus": {}
  jumpy: {}
  linter:
    showErrorPanel: false
  metrics:
    userId: "e0d9d1dd23e24dc8540a32e1407baf412c5711aa"
  "one-dark-ui": {}
  "spell-check": {}
  "toggle-quotes": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".erb.html.text":
  editor:
    autoIndentOnPaste: true
".ruby.source":
  editor:
    autoIndentOnPaste: true
